trace_dumper/trace_dumper
trace_reader/simple_trace_reader
trace_instrumentor/trace_instrumentor.so
traces.so
demo/demo
trace_dumper/tracedumper
trace_reader/tracereader
lib*.a
*.o
*.lo
*.la
*.pyc
*.pp
*.pp.i*
*\#
*~
Makefile.in
Makefile
/autom4te.cache/*
/config.log
/config.hin
/stamp-h1
/aclocal.m4
/config.guess
/config.h
/config.status
/config.sub
/configure
/compile
/depcomp
/install-sh
/libtool
/missing
.deps
.libs
